

<div class="card w-25">
  <div class="card-body text-dark">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{date}}<br>{{location}}</p>
    <a href="/events/event/{{id}}" class="btn btn-primary" role="button">View event</a>
    
  </div>
</div>